# CMake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# IDE
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~
.ycm_*

# Latex
report/*.aux
report/*.log
report/*.out
report/*.pdf

# folders 
build/**
dataset/**
assets/**
papers/

# Compiled
*.o
*.so
*.pyc
